/*codgio del css estilo y atributos

para el trabajo estetico de la pagina web style principal

trabajar codigo fuente en este para del css*/


/*container no.1*/
.cont1{
	background: #d65a31;
}
/*intelaf*/
.styh1{
	padding-top:3%;
	padding-bottom: 3%;
	padding-left: 5%;
	color: white;
	font-weight: bold;
	font-size: 50px;
	font-family: cursive black;
}

/*imagen intelaf*/
.imgintef{
	padding-top: 1%;
	padding-left:25%;	
}

/*cont2 formulario*/
.cont2{
	margin-top: 3%;
	padding-left: 4% !important;
}


/*ilustracion del producto*/
.ilustracion{
	width: 620px;
	height: 445px;
	border: 5px solid orange ;
}


/*buttonfor estilos de espaion*/

.buttonfor{
	margin-top:2%;
}


.bima{
  border-radius: 10px;
  width: 100%;
  background: #000000 !important;
  color: #fd5f00 !important;
  font-size:30px !important;
  font-family: 'Oswald', sans-serif !important;
}
.bajo{
  margin-top: 40%;
}
.bimaa{
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  background: #000000 !important;
  color: #fd5f00 !important;
  font-size:25px !important;
  font-family: 'Oswald', sans-serif !important;
  padding: 1%;
}